<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.supermarketgoods.dao.RoleDao">

    <resultMap id="BaseResultMap" type="com.supermarketgoods.entity.Role">
        <result column="role_id" property="roleId" jdbcType="INTEGER" />
        <result column="role_name" property="roleName" jdbcType="VARCHAR" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getRoleByUserId" resultMap="BaseResultMap">
        SELECT
            role.role_id,
            role.role_name,
            role.remarks
        FROM
            role
            LEFT JOIN user_role ON user_role.role_id = role.role_id
        WHERE
            user_role.user_id = #{userId}
    </select>

    <select id="getRoleByRoleIdUserId" resultMap="BaseResultMap">
        SELECT
            role.role_id,
            role.role_name,
            role.remarks
        FROM
            role
            LEFT JOIN user_role ON user_role.role_id = role.role_id
        WHERE
            user_role.role_id = #{roleId}
            AND user_role.user_id = #{userId}
    </select>

    <select id="getRoleList" resultMap="BaseResultMap">
        SELECT
            role.role_id,
            role.role_name,
            role.remarks
        FROM
          role
        <where>
            <if test="roleName != null and roleName != ''">
                role.role_name LIKE CONCAT('%', #{roleName} ,'%')
            </if>
        </where>
        LIMIT #{offSet}, #{pageRow}
    </select>

    <select id="getRoleCount" resultType="java.lang.Integer">
        SELECT
          COUNT(*)
        FROM
          role
        <where>
            <if test="roleName != null and roleName != ''">
                role.role_name LIKE CONCAT('%', #{roleName} ,'%')
            </if>
        </where>
    </select>

    <select id="findRoleByName" resultMap="BaseResultMap">
        SELECT
            role.role_id,
            role.role_name,
            role.remarks
        FROM
            role
        WHERE
            role.role_name = #{roleName}
    </select>

    <insert id="insertRole" useGeneratedKeys="true" keyProperty="roleId" parameterType="com.supermarketgoods.entity.Role">
        INSERT INTO role
        (role_name, remarks)
        VALUES (#{roleName}, #{remarks})
    </insert>

    <update id="updateRole" parameterType="com.supermarketgoods.entity.Role">
        UPDATE role
        SET
        role_name = #{roleName}
        <if test="remarks != '' and remarks != null">
            , remarks = #{remarks}
        </if>
        WHERE role_id = #{roleId}
    </update>

    <select id="countUserByRoleId" resultType="java.lang.Integer">
        SELECT
            COUNT( * )
        FROM
            user_role
        WHERE
            role_id = #{roleId}
    </select>

    <select id="getRoleById" resultMap="BaseResultMap">
        SELECT
            role.role_id,
            role.role_name,
            role.remarks
        FROM
            role
        WHERE
            role_id = #{roleId}
    </select>

    <delete id="deleteRole" parameterType="java.lang.Integer">
        DELETE FROM
          role
        WHERE role_id = #{roleId}
    </delete>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT
            role.role_id,
            role.role_name,
            role.remarks
        FROM
            role
    </select>

</mapper>
